﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" type="text/css" href="css/norm_style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/ui-grid.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap.css">
</head>
<body ng-app="myApp">



    <div class="off-canvas-wrapper" ng-controller="MainController">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>

                    <input ng-model="searchTables" class="filter form-control" type="text" id="table_search" placeholder="Nadji tabelu..." />
                    <h4>Selektuj tabelu</h4>
                    <div class="list-group" id="table_list">

                    </div>

                    <a ng-repeat="i in tableList track by $index " href="#" class="list-group-item" ng-click="loadContent(i)">{{i}}</a>

                </div>


            </div>


        <div class="off-canvas-content" data-off-canvas-content>
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">TMR3</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" ng-init="selected=1">
                      <li ng-click="editState(); selected=1" ng-class="{'active' : selected == 1}"><a href="#">Edit<span class="sr-only">(current)</span></a></li>
                      <li ng-click="addState(); selected=2" ng-class="{'active' : selected == 2}"><a href="#">Add new</a></li>

                      <li ng-click="deleteData()" ><a href="#">Delete</a></li>

                      <li ng-if="nextTb.length > 1" ng-class="{'active' : selected == 4}" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Next<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="next-menu">
                               <li ng-repeat="x in nextTb track by $index" ng-click="openNext(x)"><a href="#">{{x}}</a></li>

                                </ul>
                            </li>
                            <li ng-if="nextTb.length == 1" ng-click="openNext('')" ng-class="{'active' : selected == 4}"><a href="#"><span>Next</span></a></li>
    
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Izvestaji
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="openReport1()"><a href="#">Lager lista</a></li>
                                        <li ng-click="openReport2()"><a href="#">Magacinska kartica sa analitikom</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li ng-click="logOut()"><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="small-up-2 medium-up-3 large-up-4">
                <h2 style="margin-left: 10px">Tabela:{{activeTable}}</h2>
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid"></div> <!-- TABELA -->
            </div>


            <hr>

            <div>

                <div ng-include="pageToShow"></div>
            </div>
            <div>

                <div ng-include="modalDialogs" />
            </div>

        </div>
    </div>
    </div>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-grid.js"></script>
    <script src="scripts/main-controller.js"></script>
    <script src="scripts/modalService.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/foundation.js"></script>
    <script src="scripts/ui-bootstrap-0.14.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <script>
        $(document).foundation();
    </script>
</body>
</html>

