﻿<!DOCTYPE html>
<html>
<head>
    <title>Log in page</title>
	<meta charset="utf-8" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-grid.js"></script>
    <script src="scripts/main-controller.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap.min.css">
</head>
<body ng-app="myLogIn">

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>Welcome!</h1>
                <div class="description">
                    <p>
                        This is web application for management of warehouse operations.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">

                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Log in to our site</h3>
                            <p>Enter username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom" ng-controller="LogInController">
                        <form name="logInForm">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Email</label>
                                <input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" ng-model="email" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="pass" required>
                            </div>
                            <button type="submit" class="btn" ng-click="checkLogIn()">Sign in!</button>
                        </form>

                     

                    </div>
                </div>
            </div>
            </div>
        </div>
   
    <script src="scripts/ui-grid.js"></script>
    <script src="scripts/main-controller.js"></script>
    <script src="scripts/modalService.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/foundation.js"></script>
    <script src="scripts/ui-bootstrap-0.14.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
