﻿<div>
    <!-- Next mehanizam -->
    <script type="text/ng-template" id="myModalNext.html">
        <div class="modal-header">
            <h3 class="modal-title">Next mehanizam za {{tableToPresent}}</h3>
        </div>
        <div class="modal-body">


        <div class="small-up-2 medium-up-3 large-up-4">
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid"></div>
        </div>

        <hr>

        <div>
            <div ng-include="pageToShowNext"></div>

        </div>
            </div>



        <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>


    <script type="text/ng-template" id="myModalReport1.html">
        <!--Modal report lager list-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="modal-login-label">Izaberite godinu i magacin</h3>
        </div>
        <div class="modal-body">
            <form role="form" action="" class="form-horizontal" onclick=false>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Poslovna godina</label>
                    <div class="col-sm-8">
                        <input type="text" name="godina" class="godina form-control" id="godina" ng-model="godina" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Magacin</label>
                    <div class="col-sm-8">
                        <input type="text" name="magacin" class="magacin form-control" id="magacin" ng-model="magacin" required="required">
                    </div>
                </div>
                <input type="submit" value="Napravi izvestaj" ng-click="izvestajLagerLista()"/>
            </form>
        </div>
    </script>


    <!-- ZOOM mehainzam -->
    <script type="text/ng-template" id="myModalZoom.html">
        <div class="modal-header">
            <h3 class="modal-title">LookUp mehanizam za {{activeZoomTable}}</h3>
            <div class="row">
                <button class="btn btn-primary" type="button" ng-click="nesto()"><span class="glyphicon glyphicon-edit">Zoom back</span></button>
                <button class="btn btn-info" type="button" ng-click="editState()">Edit State</button>
                <button class="btn btn-info" type="button" ng-click="addState()">Add State</button>

            </div>
        </div>
        <div class="modal-body">

            <div class="small-up-2 medium-up-3 large-up-4">
                <div id="gridZoom" ui-grid="gridZoomOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid"></div>
            </div>

            <hr>

            <div>
                <div ng-include="pageToShowZoom"></div>
            </div>
        </div>



        <div class="modal-footer">

            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>


    <script type="text/ng-template" id="myModalReport2.html">
        <!--Modal analitike-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="modal-login-label">Izaberite magacin i datum</h3>
        </div>
        <div class="modal-body">
            <form role="form" action="" class="form-horizontal" onclick=false>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Magacin</label>
                    <div class="col-sm-8">
                        <input type="text" name="magKart" class="magKart form-control" id="magKart" ng-model="magKart" required="required">
                    </div>
                </div>
                <input type="submit" value="Napravi izvestaj" ng-click="izvestajAnalitika()" />
            </form>
        </div>
    </script>

</div>