<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
      <div class="col-md-3">
          <label>Id magacinske kartice:</label>
          <div class="row">
              
              <input class="col-sm-6"type="text" ng-model="analMagZoom.idMag">
              <button type="button" class="btn btn-lg col-sm-1 col-sm-1">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
       
        <label>Šifra dokumenta:</label>
        <input type="text" ng-model="analMagZoom.sifraAn">
        <label>Redni broj:</label>
        <input type="text" ng-model="analMagZoom.rbAn">
      </div>
      <div class="col-md-3">
        <label>Vrsta prometa:</label>
        <input type="text" ng-model="analMagZoom.vrstaAn">
        <label>Smer:</label>
        <input type="text" ng-model="analMagZoom.smerAn">
        <label>Datum promena:</label>
        <input type="text" ng-model="analMagZoom.datumPrometaAn">
      </div>
      <div class="col-md-3">    
        <label>Vrednost:</label>
        <input type="text" ng-model="analMagZoom.vrednostAn">
          <label>Cena:</label>
          <input type="text" ng-model="analMagZoom.cenaAn">
          <label>Količina anal. mag. kart:</label>
          <input type="text" ng-model="analMagZoom.kolicinaAn">
      </div>
        <div class="col-md-3">
            <div  ng-show="isEditable">
                <label>Id analitike magacinske kartice:</label>
                <input type="text" ng-model="analMagZoom.idAnAn" disabled>
            </div>
            <button class="btn btn-warning" ng-click="analMagZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveAnalitika_mag_kartice(analMagZoom)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>