<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
       <div class="col-md-6">
        <label>Jedinica mere:</label>
        <input type="text" ng-model="jedinicaZoom.jedMere">
         </div>
        <div class="col-md-6">
            <div ng-show="isEditable">
                <label>Id merne jedinice:</label>
                <input type="text" ng-model="jedinicaZoom.idMJ" disabled>
            </div>
            <button class="btn btn-warning" ng-click="jedinicaZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveJedinica_mere(jedinicaZoom)">SAVE</button>
        </div>
    </li>
  </ul>
</section>