<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
      <div class="col-md-4">
          <div class="row">
              <label class="col-sm-3">Id preduzeca:</label>
              <input type="text" ng-model="magacinZoom.idPredMag" class="col-sm-6"/>
              <button type="button" class="btn btn-lg col-sm-1">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-3">Naziv preduzeca:</label>
              <input type="text" class="col-sm-6" ng-model="magacinZoom.nazivPred" />
          </div>
          <div class="row">
              <label class="col-sm-3">Id sektora:</label>
              <input type="text" class="col-sm-6" ng-model="magacinZoom.idSektMag" />
              <button type="button" class="btn btn-lg col-sm-1">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-3">Naziv sektora:</label>
              <input type="text" class="col-sm-6" ng-model="magacinZoom.nazivSekt" />
          </div>
         
       
      </div>
      <div class="col-md-4">
        <label>Magacin:</label>
        <input type="text" ng-model="magacinZoom.nazivMag">
       </div>
        <div class="col-md-4">
            <div ng-show="isEditable">
                <label>Id magacina:</label>
                <input type="text" ng-model="magacinZoom.idMagMag" disabled>
            </div>
            <button class="btn btn-warning" ng-click="magacinZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveMagacin(magacinZoom)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>