<section class="table-row-details row">
    <ul class="input-list style-1 clearfix">
        <li>
            <div class="col-md-3">
                <<div class="row">
                    <label class="col-sm-4">Id godine:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.idGMK" />
                    <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </button>
                </div>
                <div class="row">
                    <label class="col-sm-4">Godina:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.nazivGod" />
                </div>
                <hr />

                <div class="row">
                    <label class="col-sm-4">Id magacina:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.idMMK" />
                    <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </button>
                </div>
                <div class="row">
                    <label class="col-sm-4">Naziv magacina:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.nazivMag" />
                </div>

                <hr />


                <div class="row">
                    <label class="col-sm-4">Id artikla:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.idAMK" />
                    <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SIFRARNIK_ARTIKALA')">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </button>
                </div>
                <div class="row">
                    <label class="col-sm-4">Naziv artikla:</label>
                    <input type="text" class="col-sm-6" ng-model="magKartZoom.nazivArtikal" />
                </div>
            </div>
            <div class="col-md-3">
                <label>Prosecna cena:</label>
                <input type="text" ng-model="magKartZoom.cenaMK">
                <label>Kolicina ulaza:</label>
                <input type="text" ng-model="magKartZoom.kolicinaUMK">
                <label>Vrednsot ulaza:</label>
                <input type="text" ng-model="magKartZoom.vrednostUMK" disabled>
                <label>Kolicina izlaza:</label>
                <input type="text" ng-model="magKartZoom.kolicinaIMK">
                <label>Vrednost izlaza:</label>
                <input type="text" ng-model="magKartZoom.vrednostIZMK" disabled>
            </div>
            <div class="col-md-3">
                <label>Pocetno stanje kolicine:</label>
                <input type="text" ng-model="magKartZoom.pocKolMK">
                <label>Pocetno stanje vrednosti:</label>
                <input type="text" ng-model="magKartZoom.pocVrMK">
                <label>Ukupna kolicina:</label>
                <input type="text" ng-model="magKartZoom.ukupnaKMK" disabled>
                <label>Ukupna vrednost:</label>
                <input type="text" ng-model="magKartZoom.ukupnaVMK" disabled>
            </div>
            <div class="col-md-3">
                <div ng-show="isEditable">
                    <label>Id magacinske kartice:</label>
                    <input type="text" ng-model="magKartZoom.idMGMK" disabled>
                </div>
                <button class="btn btn-warning neparno-polja" ng-click="magKartZoom = {}">ROLLBACK</button>
                <button class="btn btn-success neparno-polja" ng-click="saveMagacinska_kartica(magKartZoom)">SAVE</button>
            </div>
        </li>
    </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>