<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
      <div class="col-md-4">
          <div class="row">
              <label class="col-sm-3">Id drzave:</label>
              <input type="text" ng-model="mestoZoom.idDrzaveMst" class="form-horizontal col-sm-2" disabled>
          </div>
          <div class="row">
              <label class="col-sm-3">Oznaka Drzave</label>
              <input class="col-sm-6" type="text" ng-model="mestoZoom.oznakaDrz" />

              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('DRZAVA')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">       
             
              <label class="col-sm-3">Naziv drzave:</label>
              <input type="text" ng-model="mestoZoom.nazivDrz" class="form-horizontal col-sm-9">
          </div>
       
      </div>
      <div class="col-md-4">
           <div class="row">
              <label class="col-sm-3">Oznaka mesta:</label>
              <input type="text" ng-model="mestoZoom.oznakaMst" class="form-horizontal col-sm-2">
          </div>
          <div class="row">       
            
              <label class="col-sm-3">Naziv mesta:</label>
              <input type="text" ng-model="mestoZoom.nazivMst" class="form-horizontal col-sm-9">
          </div>
          <div class="row">
              <label class="col-sm-3">Postanski broj:</label>
              <input type="text" ng-model="mestoZoom.postBMst" class="form-horizontal col-sm-9">
          </div>
           
      </div>
        <div class="col-md-4">
            <div ng-show="isEditable">
                <label>Id mesta:</label>
                <input type="text" ng-model="mestoZoom.idMst" disabled>
            </div>
            <button class="btn btn-warning" ng-click="mesto = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveMesto(mesto)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>