<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="popDokumentZoom.idPredPDk">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="popDokumentZoom.nazivPred">
            </div>
            <hr />
            <div class="row">
                <label class="col-sm-4">Id sektora:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.idSektPDk" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SEKTOR')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv sektora:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.nazivSekt" />
            </div>
            <hr />

            <div class="row">
                <label class="col-sm-4">Id magacina:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.idMagPDk" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv magacina:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.nazivMag" />
            </div>

        </div>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id godine:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.idGodPDk" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Godina:</label>
                <input type="text" class="col-sm-6" ng-model="popDokumentZoom.nazivGod" />
            </div>
        </div>
        <div class="col-md-3">
            <label>Broj popisa:</label>
            <input type="text" ng-model="popDokumentZoom.brPopPDk">
            <label>Datum popisa:</label>
            <input type="text" ng-model="popDokumentZoom.datumPopPDk">
        </div>
        <div  class="col-md-3">
            <div ng-show="isEditable">
                <label>Id popisnog dokumenta:</label>
                <input type="text" ng-model="popDokumentZoom.idPDk" disabled>
            </div>
            <button class="btn btn-warning" ng-click="popDokumentZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="savePopisni_dokument(popDokumentZoom)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>