<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-3">
           <div class="row">
            <label class="col-sm-4">Id godine:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.idGodPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Godina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.nazivGod" />
        </div>
        <hr/>

        <div class="row">
            <label class="col-sm-4">Id preduzeca:</label>
            <input class="col-sm-6" type="text" ng-model="promDokumentZoom.idPredPdok">
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv preduzeca:</label>
            <input class="col-sm-6" type="text" ng-model="promDokumentZoom.nazivPred">
        </div>
        <hr />

        <div class="row">
            <label class="col-sm-4">Id sektora:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.idSekPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SEKTOR')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv sektora:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.nazivSekt" />
        </div>
        <hr />

        <div class="row">
            <label class="col-sm-4">Id magacina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.idMagPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv magacina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokumentZoom.nazivMag" />
        </div> 
          
          
         
        </div>
        <div class="col-md-3">
            <label>Magacin id preduzeca:</label>
            <input type="text" ng-model="promDokumentZoom.mIdpPdok">
            <label>Magacin id sektora:</label>
            <input type="text" ng-model="promDokumentZoom.mIdsPdok">
            <label>Magacin id magacina:</label>
            <input type="text" ng-model="promDokumentZoom.mIdmPdok">
            <label>Id partnera:</label>
            <input type="text" ng-model="promDokumentZoom.idPartPdok">
            <label>Broj dokumenta:</label>
            <input type="text" ng-model="promDokumentZoom.brDokPdok">
        </div>
      <div class="col-md-3">
        <label>Status:</label>
        <input type="text" ng-model="promDokumentZoom.statusPdok">
          <label>Datum nastanka:</label>
          <input type="text" ng-model="promDokumentZoom.datumNpdok">
          <label>Datum knjiženja:</label>
          <input type="text" ng-model="promDokumentZoom.datumKPdok">
          <label>Vrsta dokumenta:</label>
          <input type="text" ng-model="promDokumentZoom.vrstaPdok">
      </div>
        <div  class="col-md-3">
            <div ng-show="isEditable">
                <label>Id prometnog dokumenta:</label>
                <input type="text" ng-model="promDokumentZoom.idPdok" disabled>
            </div>
            <button class="btn btn-warning neparno-polja" ng-click="promDokumentZoom = {}">ROLLBACK</button>
            <button class="btn btn-success neparno-polja" ng-click="savePrometni_dokument(promDokumentZoom)">SAVE</button>
        </div>
    </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>