<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-4">
            <div class="row">
                <label class="col-sm-4">Id preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="sektorZoom.idPredS">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="sektorZoom.nazivPred">
            </div>
         
        </div>
        <div class="col-md-4">
            <label>Naziv sektora:</label>
            <input type="text" ng-model="sektorZoom.nazivS">
        </div>
        <div  class="col-md-4">
            <div ng-show="isEditable">
                <label>Id sektora:</label>
                <input type="text" ng-model="sektorZoom.idS" disabled>
            </div>
            <button class="btn btn-warning" ng-click="sektorZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveSektor(sektorZoom)">SAVE</button>
        </div>
       </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>