<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-4">
            <div class="row">
                <label class="col-sm-4">Id Grupe:</label>
                <input class="col-sm-6" type="text" ng-model="sifrarnikZoom.idGSfr">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('GRUPA_ARTIKALA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv Grupe:</label>
                <input class="col-sm-6" type="text" ng-model="sifrarnikZoom.nazivGrupe">
            </div>

            <hr/>

            <div class="row">
                <label class="col-sm-4">Id merne jedinice:</label>
                <input class="col-sm-6" type="text" ng-model="sifrarnikZoom.idMJSfr">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('JEDINICA_MERE')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv merne jedinice:</label>
                <input class="col-sm-6" type="text" ng-model="sifrarnikZoom.nazivJedinice">
            </div>

          
      </div>
      <div class="col-md-4">
        <label>Naziv:</label>
        <input type="text" ng-model="sifrarnikZoom.nazivSfr">
        </div>
        <div  class="col-md-4">
            <div ng-show="isEditable">
                <label>Id sifrarnika:</label>
                <input type="text" ng-model="sifrarnikZoom.idSfr" disabled>
            </div>
            <button class="btn btn-warning" ng-click="sifrarnikZoom = {}">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveSifrarnik_artikala(sifrarnikZoom)">SAVE</button>
        </div>
    </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>