<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
       <div class="col-md-4">
        <label>Oznaka drzave:</label>
        <input type="text" ng-model="drzava.oznkaDr"/>
      </div>
	  <div class="col-md-4">
	    <label>Naziv drzave:</label>
        <input type="text" ng-model="drzava.nazivDr"/>
	  </div>
        <div class="col-md-4">
            <div  ng-show="isEditable">
                <label>Id drzave:</label>
                <input type="text" ng-model="drzava.idDrzDr" disabled />
            </div>
            <button class="btn btn-warning" ng-click="resetDrzava()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveDrzava(drzava)">SAVE</button>
        </div>
    </li>
  </ul>
</section>