<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-6">
        <label>Grupa:</label>
        <input type="text" ng-model="grupa.nazivGA">
       </div>
        <div class="col-md-6">
            <div ng-show="isEditable">
                <label>Id grupe:</label>
                <input type="text" ng-model="grupa.idGrGA" disabled>
            </div>
            <button class="btn btn-warning" ng-click="resetGrupaArtikala()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveGrupa_artikala(grupa)">SAVE</button>
        </div>
    </li>
  </ul>
</section>