<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id godine:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.idGMK" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Godina:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.nazivGod" />
            </div>
            <hr />

            <div class="row">
                <label class="col-sm-4">Id magacina:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.idMMK" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv magacina:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.nazivMag" />
            </div>

            <hr />


            <div class="row">
                <label class="col-sm-4">Id artikla:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.idAMK" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SIFRARNIK_ARTIKALA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv artikla:</label>
                <input type="text" class="col-sm-6" ng-model="magKart.nazivArtikal" />
            </div>

           </div>
        <div class="col-md-3">
            <label>Prosecna cena:</label>
            <input type="text" ng-model="magKart.cenaMK">
            <label>Kolicina ulaza:</label>
            <input type="text" ng-model="magKart.kolicinaUMK">
            <label>Vrednsot ulaza:</label>
            <input type="text" ng-model="magKart.vrednostUMK" disabled>
            <label>Kolicina izlaza:</label>
            <input type="text" ng-model="magKart.kolicinaIMK">
            <label>Vrednost izlaza:</label>
            <input type="text" ng-model="magKart.vrednostIZMK" disabled>
        </div>
        <div class="col-md-3">
            <label>Pocetno stanje kolicine:</label>
            <input type="text" ng-model="magKart.pocKolMK">
            <label>Pocetno stanje vrednosti:</label>
            <input type="text" ng-model="magKart.pocVrMK">
            <label>Ukupna kolicina:</label>
            <input type="text" ng-model="magKart.ukupnaKMK" disabled>
            <label>Ukupna vrednost:</label>
            <input type="text" ng-model="magKart.ukupnaVMK" disabled>
        </div>
        <div  class="col-md-3">
            <div ng-show="isEditable">
                <label>Id magacinske kartice:</label>
                <input type="text" ng-model="magKart.idMGMK" disabled>
            </div>
            <button class="btn btn-warning neparno-polja" ng-click="resetMagKart()">ROLLBACK</button>
            <button class="btn btn-success neparno-polja" ng-click="saveMagacinska_kartica(magKart)">SAVE</button>
        </div>
    </li>
  </ul>
</section>