<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
      <div class="col-md-3">
          <div class="row">
              <label class="col-sm-4">Id preduzeca:</label>
              <input class="col-sm-6" type="text" ng-model="popKomisija.idPreduzecaPK">
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Naziv preduzeca:</label>
              <input class="col-sm-6" type="text" ng-model="popKomisija.nazivPred">
          </div>
          <hr />
          <div class="row">
              <label class="col-sm-4" >Id sektora:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.idSektoraPK" />
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SEKTOR')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Naziv sektora:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.nazivSekt" />
          </div>
         <hr />

          <div class="row">
              <label class="col-sm-4">Id magacina:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.idMagPK" />
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Naziv magacina:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.nazivMag" />
          </div>


      </div>
        <div class="col-md-3">
             <div class="row">
              <label class="col-sm-4">Id godine:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.idGodPK" />
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Godina:</label>
              <input type="text" class="col-sm-6" ng-model="popKomisija.nazivGod" />
          </div>
           <hr/>
            <div class="row">
                <label class="col-sm-4" >Id popisnog dokumenta:</label>
                <input type="text" class="col-sm-6" ng-model="popKomisija.idPopDokPK" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POPISNI_DOKUMENT')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id radnika:</label>
                <input type="text" class="col-sm-6" ng-model="popKomisija.idRadnikPK" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('RADNIK')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Ime i prezime:</label>
                <input type="text" class="col-sm-6" ng-model="popKomisija.radnik" />
            </div>

            <div class="row">
                <label class="col-sm-4">Funkcija u komisiji:</label>
                <input type="text" class="col-sm-6" ng-model="popKomisija.funkcijaPK" />
            </div>


        </div>
        <div class="col-md-3">
            <div ng-show="isEditable">
                <label>Id popisne komisije:</label>
                <input type="text" ng-model="popKomisija.idPopK" disabled>
            </div>
            <button class="btn btn-warning" ng-click="resetPopKomisija()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="savePopisna_komisija(popKomisija)">SAVE</button>
        </div>
    </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>