<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
       <div class="col-md-4">
            <div class="row">
                <label class="col-sm-3">Id preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="godina.idPredPgod">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
           <div class="row">
               <label class="col-sm-3">Naziv preduzeca:</label>
               <input class="col-sm-6" type="text" ng-model="godina.nazivPred">
           </div>


      </div>
      <div class="col-md-4">
        <label>Godina:</label>
        <input type="text" ng-model="godina.godPgod">
        <label>Zakljucena:</label>
        <input type="text" ng-model="godina.zakljPgod">
       </div>
        <div class="col-md-4">
            <div ng-show="isEditable">
                <label>Id poslovne godine:</label>
                <input type="text" ng-model="godina.idPgod" disabled>
            </div>
            <button class="btn btn-warning" ng-click="resetGodina()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="savePoslovna_godina(godina)">SAVE</button>
        </div>
      </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>