<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
         <div class="col-md-3">
             <div class="row">
                 <label class="col-sm-4">Id drzave:</label>
                 <input type="text" ng-model="posPartner.idDrzP" class="form-horizontal col-sm-2">
             </div>

             <div class="row">
                 <label class="col-sm-4">Oznaka Drzave</label>
                 <input class="col-sm-6" type="text" ng-model="posPartner.oznakaDrz" />
                 <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('DRZAVA')">
                     <span class="glyphicon glyphicon-option-horizontal"></span>
                 </button>
             </div>

             <div class="row">

                 <label class="col-sm-4">Naziv drzave:</label>
                 <input type="text" ng-model="posPartner.nazivDrz" class="form-horizontal col-sm-8">
             </div>

             <div class="row">
                 <label class="col-sm-4">Id mesta:</label>
                 <input type="text" ng-model="posPartner.idMestoP" class="form-horizontal col-sm-2">
             </div>


             <div class="row">
                 <label class="col-sm-4">Oznaka Mesta</label>
                 <input class="col-sm-6" type="text" ng-model="posPartner.oznakaMst" />
                 <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MESTO')">
                     <span class="glyphicon glyphicon-option-horizontal"></span>
                 </button>
             </div>

             <div class="row">

                 <label class="col-sm-4">Naziv Mesta:</label>
                 <input type="text" ng-model="posPartner.nazivMst" class="form-horizontal col-sm-8">
             </div>


      </div>
      <div class="col-md-3">
          <label>Naziv:</label>
          <input type="text" ng-model="posPartner.nazivPP">
          <label>Tip:</label>
          <input type="text" ng-model="posPartner.tipPP">
          <label>PIB:</label>
          <input type="text" ng-model="posPartner.pibPP">
          <label>Adresa:</label>
          <input type="text" ng-model="posPartner.adresaPP">
      </div>
      <div class="col-md-3">
        <label>Telefon:</label>
        <input type="text" ng-model="posPartner.telefonPP">
      </div>
        <div  class="col-md-3">
            <div ng-show="isEditable">
                <label>Id poslovnog partnera:</label>
                <input type="text" ng-model="posPartner.idPP" disabled>
            </div>
            <button class="btn btn-warning neparno-polja" ng-click="resetPosPartner()">ROLLBACK</button>
            <button class="btn btn-success neparno-polja" ng-click="savePoslovni_partner(posPartner)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>