<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-3">
           <div class="row">
            <label class="col-sm-4">Id godine:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.idGodPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Godina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.nazivGod" />
        </div>
        <hr/>

        <div class="row">
            <label class="col-sm-4">Id preduzeca:</label>
            <input class="col-sm-6" type="text" ng-model="promDokument.idPredPdok">
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv preduzeca:</label>
            <input class="col-sm-6" type="text" ng-model="promDokument.nazivPred">
        </div>
        <hr />

        <div class="row">
            <label class="col-sm-4">Id sektora:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.idSekPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SEKTOR')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv sektora:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.nazivSekt" />
        </div>
        <hr />

        <div class="row">
            <label class="col-sm-4">Id magacina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.idMagPdok" />
            <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </div>
        <div class="row">
            <label class="col-sm-4">Naziv magacina:</label>
            <input type="text" class="col-sm-6" ng-model="promDokument.nazivMag" />
        </div>



        </div>
        <div class="col-md-3">
            <label>Magacin id preduzeca:</label>
            <input type="text" ng-model="promDokument.mIdpPdok">
            <label>Magacin id sektora:</label>
            <input type="text" ng-model="promDokument.mIdsPdok">
            <label>Magacin id magacina:</label>
            <input type="text" ng-model="promDokument.mIdmPdok">
            <label>Id partnera:</label>
            <input type="text" ng-model="promDokument.idPartPdok">
            <label>Broj dokumenta:</label>
            <input type="text" ng-model="promDokument.brDokPdok">
        </div>
      <div class="col-md-3">
        <label>Status:</label>
        <input type="text" ng-model="promDokument.statusPdok">
          <label>Datum nastanka:</label>
          <input type="text" ng-model="promDokument.datumNpdok">
          <label>Datum knjiženja:</label>
          <input type="text" ng-model="promDokument.datumKPdok">
          <label>Vrsta dokumenta:</label>
          <input type="text" ng-model="promDokument.vrstaPdok">
      </div>
        <div  class="col-md-3">
            <div ng-show="isEditable">
                <label>Id prometnog dokumenta:</label>
                <input type="text" ng-model="promDokument.idPdok" disabled>
            </div>
            <button class="btn btn-warning neparno-polja" ng-click="resetPromDokument()">ROLLBACK</button>
            <button class="btn btn-success neparno-polja" ng-click="savePrometni_dokument(promDokument)">SAVE</button>
        </div>
    </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>