<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="stavkaPop.idPredSP">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PREDUZECE')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv preduzeca:</label>
                <input class="col-sm-6" type="text" ng-model="stavkaPop.nazivPred">
            </div>
            <hr />
            <div class="row">
                <label class="col-sm-4">Id sektora:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.idSekSP" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SEKTOR')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv sektora:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.nazivSekt" />
            </div>
            <hr />

            <div class="row">
                <label class="col-sm-4">Id magacina:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.idMagSP" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('MAGACIN')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv magacina:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.nazivMag" />
            </div>



        </div>
        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id godine:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.idGSP" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Godina:</label>
                <input type="text" class="col-sm-6" ng-model="stavkaPop.nazivGod" />
            </div>
            <hr />

            <div class="row">
                <label class="col-sm-4">Id popisnog dokumenta:</label>
                <input class="col-sm-6"type="text" ng-model="stavkaPop.idPopDSP">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POPISNI_DOKUMENT')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <hr/>

            <div class="row">
                <label class="col-sm-4">Id artikla:</label>
                <input type="text" class="col-sm-6" ng-model="promDokument.idArtSP" />
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SIFRARNIK_ARTIKALA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv artikla:</label>
                <input type="text" class="col-sm-6" ng-model="promDokument.nazivArtikal" />
            </div>


        </div>
        <div class="col-md-3">
            <label>Id grupe:</label>
            <input type="text" ng-model="stavkaPop.idGSp">
            <label>Količina u kartici:</label>
            <input type="text" ng-model="stavkaPop.kolKSP">
            <label>Količina po popisu:</label>
            <input type="text" ng-model="stavkaPop.kolPoPsP">
        </div>
        <div class="col-md-3">
            <div ng-show="isEditable">
                <label>Id stavke popisa:</label>
                <input type="text" ng-model="stavkaPop.idStvP" disabled>
            </div>
            <button class="btn btn-warning" ng-click="resetStavkaPop()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveStavke_popisa(stavkaPop)">SAVE</button>
        </div>
    </li>
  </ul>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</section>