<section class="table-row-details row">
  <ul class="input-list style-1 clearfix">
    <li>
      <div class="col-md-3">
         <div class="row">
              <label class="col-sm-4">Id godine:</label>
              <input type="text" class="col-sm-6" ng-model="stavkaProm.idGodSP" />
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('POSLOVNA_GODINA')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Godina:</label>
              <input type="text" class="col-sm-6" ng-model="stavkaProm.nazivGod" />
          </div>
          <hr />


          <div class="row">
              <label class="col-sm-4">Id prometnog dokumenta:</label>
              <input class="col-sm-6" type="text" ng-model="stavkaProm.idPDSP">
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('PROMETNI_DOKUMENT')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>

          <hr/>
          <div class="row">
              <label class="col-sm-4">Id Grupe:</label>
              <input class="col-sm-6" type="text" ng-model="stavkaProm.idGSP">
              <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('GRUPA_ARTIKALA')">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
          </div>
          <div class="row">
              <label class="col-sm-4">Naziv Grupe:</label>
              <input class="col-sm-6" type="text" ng-model="stavkaProm.nazivGrupe">
          </div>
      </div>


        <div class="col-md-3">
            <div class="row">
                <label class="col-sm-4">Id Artikla:</label>
                <input class="col-sm-6" type="text" ng-model="stavkaProm.idASP">
                <button type="button" class="btn btn-lg col-sm-1" ng-click="openZoom('SIFRARNIK_ARTIKALA')">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
            <div class="row">
                <label class="col-sm-4">Naziv Artikla:</label>
                <input class="col-sm-6" type="text" ng-model="stavkaProm.nazivArtikal">
            </div>



      </div>
      <div class="col-md-3">
          <label>Redni broj stavke:</label>
          <input type="text" ng-model="stavkaProm.rbrSP">
          <label>Kolicina:</label>
          <input type="text" ng-model="stavkaProm.kolicinaSP">
           <label>Cena:</label>
          <input type="text" ng-model="stavkaProm.cenaSP">
          <label>Vrednost:</label>
          <input type="text" ng-model="stavkaProm.vrednostSP" disabled>
      </div>
        <div class="col-md-3">
            <div ng-show="isEditable">
                <label>Id stavke prometnog dokumenta:</label>
                <input type="text" ng-model="stavkaProm.idstavkePD" disabled>
            </div>
            <button class="btn btn-warning" ng-click="resetStavkaProm()">ROLLBACK</button>
            <button class="btn btn-success" ng-click="saveStavka_prometnog_dok(stavkaProm)">SAVE</button>
        </div>
    </li>
  </ul>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</section>