.grid {
    width: 100%;
    height: 600px;
    margin-left: 12px !important;
  }

.callout.primary {
	height: 60px !important;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin: 0px 0px 30px 0px;
  width: 200px;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 5px #dcdcdc;
  transition: box-shadow 0.5s, border 0.5s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 5px #4c7bec;
  box-shadow: 0 0 5px 1px #969696;
}

.table-row-details {
	margin-left: 12px !important;
	max-width: 100% !important;
}

.style-1 {
	list-style-type: none;
}

label {
	font-size: 1.5rem !important;
}

.btn-success {
	float: right;
	margin-right: 30px;
	height: 60px;
	width: 100px;
}

.btn-warning {
	float: right;
	margin-right: 90px;
	height: 60px;
	width: 100px;
}

.neparno-polja {
	float: none;
	margin-right: 0px;
}

.column {
  margin-left: 0px !important;
}

.app-modal-window .modal-dialog{
    width: 90%;
    position: absolute;
    margin-left:-1000px;

}

.storn {
  float: none !important;
  margin-right: 0px !important;
  height: 100%;
  width: 80px;
}